body {
padding: 0 4rem;
  
}

h1 {
  font-size: 26px;
  font-family: 'Nunito Sans';

}

h2 {
  font-size: 20px;
  font-family: 'Poppins';
}

p {
  /* font-family: 'Poppins';   */
}

li {
  /* font-family: 'Poppins';   */
}

h3 {
  font-weight: normal;
  text-decoration: underline;
  margin-top: 0;
  padding-top: 0;
}

.section {
  box-sizing: border-box;
  width: 90%;
  
  border: 1px;
  border-style: solid;
  padding: 0 1rem;
  margin: 1rem 0;
}

.colors {
  box-sizing: border-box;
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;;
  min-width: 150px;
  width: 30%;
  text-align: center;
  padding: 10px;
}

.fonts {
  box-sizing: border-box;
  display:inline-block;
  margin-right: 30px;
  margin-bottom: 20px;;
  min-width: 150px;
  width: 40%;
  padding: 0;
  vertical-align:top;

  font-size: 16px;
  /* border: 1px;
  border-style: solid; */
  
}

.text-container {
  vertical-align: text-top;
}

.styles li, p {
    font-family: 'Poppins';  
}

#color1 {
  background-color: #2d5dcc;
  color: white;
}

#color2 {
  background-color: #d957d9;
  color: black;
}

#color3 {
  background-color: #4fe0b0;
  color: black;
}

#color4 {
  background-color: #efd9ca;
  color: black;
}

#font1 {
  font-family: 'Source Code Pro';
}

#font2 {
  font-family: 'Nunito Sans';
}

#font3 {
  font-family: 'Poppins';
}

#italic {
  font-style: italic;
}

#bold {
  font-weight: bold;
}
