body {
  padding: 0 4rem;
  
  

}

h3 {
  font-weight: normal;
  text-decoration: underline;
}

.section {
  box-sizing: border-box;
  width: 90%;
  
  border: 1px;
  border-style: solid;
  padding: 0 1rem;
  margin: 1rem 0;
}

.colors {
  box-sizing: border-box;
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;;
  min-width: 150px;
  width: 30%;
  text-align: center;
  padding: 10px;
}

.fonts {
  box-sizing: border-box;
  display:inline-block;
  margin-right: 30px;
  margin-bottom: 20px;;
  min-width: 150px;
  width: 30%;
  padding: 0;
}

#color1 {
  background-color: #2d5dcc;
  color: white;
}

#color2 {
  background-color: #d957d9;
  color: black;
}

#color3 {
  background-color: #4fe0b0;
  color: black;
}

#color4 {
  background-color: #efd9ca;
  color: black;
}

#italic {
  font-style: italic;
}

#bold {
  font-weight: bold;
}
